.App {
  text-align: center;
}

.create {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template: 1fr 50px / 1fr 1fr;
}

.form {
  grid-area: 1/1/1/1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-data {
  display: flex;
  flex-direction: column;
}

.plot {
  grid-area: 1/2/1/2;
}

.footer-links {
  grid-area: 2/2/2/2;
}

.create-user {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
}

.chartWrapper {
  width: 5000px;
  height: 40px;
}
.home {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template: 1fr 400px 1fr / 1fr 400px 1fr;
}
.start {
  grid-area: 2/2/2/2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-bar{
  border-radius: 10px;
  width: 550px;
  height:22px;
}
#quickChart {
  margin: 30px;
  font-size: 75px;
}
.home-link {
  width: 125px;
  height:30px;
  background-color: transparent;
  border: none;
  border-radius: 10px;

}
.home-link:hover {
  background-color: grey;
  color: white;
}
nav {
  margin-top: 20px;
  width: 250px;
  display: flex;
  justify-content: space-around;
}
.profile {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template: 1fr 400px 1fr / 1fr 400px 1fr;
}
.make-profile {
  grid-area: 2/2/2/2;
  display: grid;
  grid-template-rows: 1fr 1fr;
  border: 2px solid black;
  border-radius: 25px;

}
.profile-link {
  width: 70px;
  height:25px;
  background-color: transparent;
  border: none;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-link:hover {
  font-weight: bolder;
  
}
.user-field {
  border-radius: 10px;
  border: 1px solid black;
  width: 300px;
  height:22px;
}
.create-page {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template: 1fr 375px 1fr / 1fr 200px 50px 500px 1fr ;
}
.note-pad {
  grid-area: 1/2/1/2;
  display: grid;
  grid-template-rows: 30px 1fr;
  align-items: center;
  justify-content: center;
  height: 300px;
}
.create-links {
  grid-area: 1/1/1/1 ;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 20px;
}
.input {
  display: grid;
  grid-area: 1/1/1/1;
  grid-template-rows: 70px 1fr 40px ;
}
.set-title {
  grid-row: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}  
.title {
  width: 140px;
  height: 20px;
  border: none;
  text-align: center;
}
.values-container {
  grid-row: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.vals {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 1px solid black;
  width: 110px;
  height: 225px;
  border-radius: 7px;
}
.title-x, .title-y {
  background-color: transparent;
}
.xVals {
  grid-column: 1;
  width: 55px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-right: 1px solid black;
  padding-top: 7px;
}
.yVals {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 7px;
}

.x {
 width: 60px;
 border: none;
 text-align: center;
 background-color: transparent;
}
.y {
  width: 60px;
  border: none;
  text-align: center;
  background-color: transparent;
}
#save {
  grid-area: 3/1/3/1;
}
.username {
  background-color: transparent;
  margin-top: 5px;
  border: none;
  height: 30px;
  width: 125px;
}
.username:hover {
  background-color: grey;
  border-radius:10px;
  color: white;
}

.go-home {
  background-color: transparent;
  margin-top: 5px;
  border: none;
  height: 30px;
  width: 100px;
}
.go-home:hover {
  background-color: grey;
  border-radius:10px;
  color: white;
}
.pad {
  grid-area: 2/2/2/5;
  border: 2px solid black;
  border-radius: 25px;
  display: grid;
  grid-template-columns: 1fr 3fr;
}

#canvas {
  grid-row: 2;
  margin-bottom: -90px;
  margin-right: 30px;
}
.bar {
  height: 400px;
  width: 600px;
  margin-top: 30px;
}
.link {
  background-color: transparent;
  border: none;
  width: 70px;
  border-radius: 15px;
  font-size: 12px;
}
.link:hover {
  background-color: grey;
  color: white;
  font-weight: bolder;
}
#name {
  width: 90px;
}


 


 