.App {
  text-align: center;
}

.create {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template: 1fr 50px / 1fr 1fr;
}

.form {
  grid-area: 1/1/1/1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-data {
  display: flex;
  flex-direction: column;
}

.plot {
  grid-area: 1/2/1/2;
}

.footer-links {
  grid-area: 2/2/2/2;
}

.create-user {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
}

.chartWrapper {
  width: 5000px;
  height: 40px;
}
.home {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template: 1fr 400px 1fr / 1fr 400px 1fr;
}
.start {
  grid-area: 2/2/2/2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-bar{
  border-radius: 10px;
  border: 1.5px solid black;
  width: 550px;
  height:22px;
}
#quickChart {
  margin: 30px;
  font-size: 75px;
}
.home-link {
  width: 125px;
  height:30px;
  background-color: transparent;
  border: none;
  border-radius: 10px;

}
.home-link:hover {
  background-color: grey;
  color: white;
}
nav {
  margin-top: 20px;
  width: 250px;
  display: flex;
  justify-content: space-around;
}
.profile {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template: 1fr 400px 1fr / 1fr 400px 1fr;
}
.make-profile {
  grid-area: 2/2/2/2;
  display: grid;
  grid-template-rows: 1fr 1fr;
  border: 2px solid black;
  border-radius: 25px;

}
.profile-link {
  width: 70px;
  height:25px;
  background-color: transparent;
  border: none;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-link:hover {
  font-weight: bolder;
  
}
.user-field {
  border-radius: 10px;
  border: 1px solid black;
  width: 300px;
  height:22px;
}
.create-page {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template: 1fr 375px 1fr / 1fr 200px 50px 500px 1fr ;
}
.note-pad {
  grid-area: 1/2/1/2;
  display: grid;
  grid-template-rows: 30px 1fr;
  align-items: center;
  justify-content: center;
  height: 300px;
}
.create-links {
  grid-area: 1/1/1/1 ;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 20px;
}
.input {
  display: grid;
  grid-area: 1/1/1/1;
  grid-template-rows: 70px 1fr 40px ;
}
.set-title {
  grid-row: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 110px;
}  
.title {
  border: none;
  text-align: center;
  font-size: 33px;
  text-align: left;
  margin-top: 10px;
  margin-left: 20px;


}
.title::placeholder {
  color: grey;
  font-size: small;
}
.values-container {
  grid-row: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.vals {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 1px solid black;
  width: 110px;
  height: 225px;
  border-radius: 7px;
}
.title-x, .title-y {
  background-color: transparent;
  width: 55px;
  border-bottom: 1px solid black;
  padding-bottom: 8px;
}
.xVals {
  grid-column: 1;
  width: 55px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-right: 1px solid black;
  padding-top: 5px;
  justify-content: space-between;
  padding-bottom: 25px;
}
.yVals {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 5px;
  margin-left: -5px;
  padding-bottom: 25px;
}

.x,.y {
 width: 60px;
 border: none;
 text-align: center;
 background-color: transparent;

}
 
.username {
  background-color: transparent;
  margin-top: 5px;
  border: none;
  height: 30px;
  width: 125px;
}
.username:hover {
  background-color: grey;
  border-radius:10px;
  color: white;
}

.go-home {
  background-color: transparent;
  margin-top: 5px;
  border: none;
  height: 30px;
  width: 100px;
}
.go-home:hover {
  background-color: grey;
  border-radius:10px;
  color: white;
}
.pad {
  grid-area: 2/2/2/5;
  border: 2px solid black;
  border-radius: 25px;
  display: grid;
  grid-template-columns: 1fr 3fr;
}

#canvas {
  grid-row: 2;
  margin-bottom: -90px;
  margin-right: 30px;
}
.bar {
  height: 400px;
  width: 600px;
  margin-top: 30px;
}
.link {
  background-color: transparent;
  border: none;
  width: 70px;
  border-radius: 15px;
  font-size: 12px;
}
.link:hover {
  background-color: grey;
  color: white;
  font-weight: bolder;
}
#name {
  width: 90px;
}

#save {
  background-color: transparent;
  border: none;
  margin-top: -12px;
}
.save {
  background-color: transparent;
  border: none;
  font-size: 12px;
}
.save:hover {
  font-weight: bolder;
}

.preview-page, .view-page {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template: 200px 400px / 1fr 800px 1fr;
}
 
.preview-chart, .post-container {
  grid-area: 2/2/2/2;
  border-radius: 15px;
  outline: 2px solid black;
  outline-offset: 25px;
}
.back-create {
  grid-area: 3/2/3/2;
  padding-top: 45px;
}
.backEditHome {
  background-color: transparent;
  border:none;
  width: 100px;
  height: 30px;
}
.backEditHome:hover {
  background-color: grey;
  color: white;
  border-radius: 10px;
}
#preview-username {
  grid-area: 1/2/1/2;
  width:100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin-bottom: 30px;
  margin-left: 10px;

}

#create-profile {
  margin-top: -50px;
}
#library {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template: 1fr 50px 600px 50px 1fr / 1fr 860px 1fr ;
}
#feed {
  grid-area: 3/2/3/2;
  overflow: scroll;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 2px solid black;
  border-radius: 20px;
}
#single-post{
  outline: 2px solid black;
  border-radius: 7px;
  outline-offset: 15px;
  height: 200px;
  width: 320px;
  margin: 50px;
}
#lib-header {
  grid-area: 1/2/1/2;
  display: flex;
  
  justify-content: center;
  align-items: flex-end;
  margin-bottom: -30px;
}
#search-library {
  display: flex;
}

#lib-home {
  background-color: transparent;
  border: none;
  margin-left: 15px;
  width: 80px;
}
#lib-home:hover {
  background-color: grey;
  border-radius: 5px ;
  color: white;
}
.tile-header {
  display: flex;
  justify-content: flex-end;
}
.tile-view {
  background-color: grey;
  color: white;
  border-radius: 8px;
  font-size: 12px;
}
.tile-view:hover {
  background-color: white;
  color: black;
}

.viewpost-libhome {
  grid-area: 3/2/3/2;
  margin-top: 40px;
}

.post-back {
  background-color: transparent;
  border: none;
  height: 35px;
  width: 100px;
}
.post-back:hover {
  background-color: grey;
  border-radius: 7px;
  color: white;
}
.about-page {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template: 200px 400px / 1fr 500px 100px 1fr;

}
.about {
  grid-area: 2/2/2/2;

  border: 2px solid black;
  border-radius: 15px;
  overflow: scroll;
}
#about-sidebar {
  grid-area: 2/3/2/3;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

}
#about-home {
  background-image: url('Home.png');
  background-color: transparent;
  border: none;
  background-size: contain ;
  height: 40px;
  width: 40px;
}
#about-linkedin {
  background-image: url('linkedin.png');
  background-color: transparent;
  border: none;
  background-size: contain ;
  height: 40px;
  width: 40px;
}
#about-github {
  background-image: url('gitHub.png');
  background-color: transparent;
  border: none;
  background-size: cover ;
  height: 40px;
  width: 40px;
}
#about-chartjs {
  background-image: url('chartjs-logo.svg');
  background-color: transparent;
  border: none;
  background-size: cover ;
  height: 53px;
  width: 53px;
}
#about-chartjs:hover {
  outline: 2px solid black;
  outline-offset: 2px;
  border-radius: 5px;
}
#about-desmos {
  background-image: url('desmos.png');
  background-color: transparent;
  border: none;
  background-size: cover ;
  height: 40px;
  width: 40px;
}
#about-desmos:hover {
  outline: 2px solid black;
  outline-offset: 10px;
  border-radius: 5px;
}
#about-home:hover {
  outline: 2px solid black;
  outline-offset: 10px;
  border-radius: 5px;
}
#about-linkedin:hover {
  outline: 2px solid black;
  outline-offset: 10px;
  border-radius: 5px;
}
#about-github:hover {
  outline: 2px solid black;
  outline-offset: 10px;
  border-radius: 5px;
}
.about-text {
  margin: 25px;
  text-align: left;
  font-size: 12px;
}
#about-title {
  grid-area: 1/2/1/2;
  margin-top: 110px;
  font-size: 75px;
}

 
 



 